<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toy store</title>
    <link rel="stylesheet" href="product.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fngoisao.net%2Fgia-dinh%2Fbe-gai-meu-mao-chup-anh-voi-cuc-hoa-mi-4008697.html&psig=AOvVaw39KMiRtHfvZ0YYoaoCRNKw&ust=1592875606890000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKiX5JuilOoCFQAAAAAdAAAAABAD" type="image/x-icon">
</head>
<body>
        <div class="container">
            
            <div class="title">
                <h1 style="background-color:blueviolet;text-align:center">Toy store</h1>
            </div>
            
            <div class="list">
                <div class="create">
                    <a href="/insert"style="background-color:Black" class="btn-create"><span class="icon-create"><i class="fa fa-plus" aria-hidden="true"></i></span>Add product</a>
                </div>
                <form action="">
                    <table  border="1" >
                        <tr class="thead">
                            <th style="background-color:rgb(8, 253, 29)"class="col-name">Name</th>
                            <th style="background-color:rgb(0, 204, 255)" class="col-id"> Price</th>
                            <th style="background-color:rgb(4, 0, 255)" class="col-color">Color</th>
                            <th style="background-color:rgb(255, 0, 255)" class="col-act">Action</th>
                        </tr> 
                        {{#each products}}
                        <tr>
                            <td style="color:rgb(255, 255, 255);background-color:rgb(8, 253, 29)">{{name}}</td>
                            <td style="color:rgb(255, 255, 255);background-color:rgb(0, 204, 255);text-align:center">{{price}}</td>
                            <td style="color:rgb(255, 255, 255);background-color:rgb(4, 0, 255);text-align:center">{{color}}</td>
                            <td style="color:rgb(255, 255, 255);background-color:rgb(255, 0, 255)">
                                <span class="icon"><a href="/update?id={{_id}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                <a href="/delete?id={{_id}}"><i class="fa fa-trash" aria-hidden="true"></i></a></span>
                            </td>
                        </tr>
                        {{/each}}
                    </table>
                </form>
            </div>
        </div>    
</body>
</html>